html
  head
    title PUG 연습
    meta(charset='utf-8')
  body
    h1 PUG 문장 작성중...
    div.
      여러줄 입력 연습
      여러줄 입력 연습
      여러줄 입력 연습
    div
      | 여러줄 입력2
      | 여러줄 입력2
      | 여러줄 입력2
    hr
    a(href="http://www.naver.com") Naver 이동하기  
    // html 컨텐트 주석입니다.
    .abc 클래스 속성이 abc인 div 생성됨
      h2 abc DIV 자식입니다.
